* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/*==============BODY============= */
#body-app {
    min-width: 434px;
   
}

/*==============HEADER===========*/
header {
    width: 100%;
    height: 4.5rem;
    background-color: #065E7C;


}

.header-conteudo {
    padding: 12px 1.75rem;
    display: flex;
    justify-content: center;
    gap: 1.62rem;

}

.header-logo,
.header-avatar {
    border-radius: 50%;
}

.header-avatar {
    width: 2.62rem;
}

header form {
    width: 100%;
}

input {
    border-radius: 8px;
    border: none;
    height: 2.5rem;
    width: 100%;
    background-color: #387E96;


}

input::placeholder {
    padding-left: 14px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

label {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
}

/*============MAIN============== */
.main-img {

    z-index: -1;
    position: relative;
    bottom: 11px;
    width: 100%;

}

.main-conteudo,
.box-article {
    display: flex;
    flex-direction: column;
    padding-inline: 1.37rem;
}

h1 {
    padding-left: 1.37rem;
    margin: 1.56rem 0 8px;
    font-size: 1.5rem;
    font-weight: 43.7rem;

}

main form button {
    border: none;
    background-color: white;
    margin-bottom: 1.93rem;

}

.main-button1 {
    margin-right: 12px;
}

.main-p {
    font-size: 1rem;
    font-weight: 25rem;
    line-height: 1.62rem;
    margin-bottom: 2.12rem;
}

article h2 {
    margin-bottom: 2rem;
}

.box-sabado,
.box-balaio,
.box-cartela,
.box-frio,
.box-moacir {
    display: flex;
    width: 23.8rem;
    height: 5.2rem;
    gap: 1rem;
    margin-bottom: 2rem;
}

.text-geral,
.text-cartela {
    font-size: 14px;
    font-weight: 25rem;
    line-height: 1.37rem;

}

.box-cartela {
    margin-bottom: 2.81rem;
}

.text-cartela {
    position: relative;
    bottom: 5px;
}

article img {
    width: 9.43rem;
    height: 5.25rem;
}

/* ===============FOOTER============= */
footer {
    background-color: #387E96;
    min-width: 26.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

 /* ================DESKTOP============= */
 
 @media(min-width:1440px) {

    /* HEADER */
header{
    display: flex;
    justify-content: center;
   
}
 .header-conteudo{
    margin-left: 157px;
    max-width: 90rem;
}
   

    input {
        width: 1083px;
        border-radius: 8px;
        border: none;
        height: 2.5rem;
        background-color: #387E96;


    }



    main {
        display: flex;
        gap: 2.12rem;
        max-width: 90rem;
        margin: 2.75rem auto;
        padding-left:11.8rem ;
    }

    main img {
        border-radius: 11px 0 0 11px;
    }

    main h1,
    .main-conteudo {
        padding: 0;
    }

    .box-main {
        max-width: 50rem;
    }

    .box-article {
        position: relative;
        bottom: 1.12rem;
    }


} 